/* 
  natural - $natural-color: #E5D3BF;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 15px !important;
  }
}

.logo {
  width: 8em;
}

.text-color {
  color: #fff;
}

.home-pics {
  display: flex;
  justify-content: space-around;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.background-color-footer {
  background-color: #1E3663;
}

.footer {
  margin: auto;
}

.img {
  width: 250px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.nav-link {
  color: #09361C;
}